.gradle/
.idea/
local.properties
*.iml
*.hprof
*.log
*.swp
*.swo
*.tmp
*.bak
*.orig
/build/
*/build/
obj/
out/
.cxx/
.externalNativeBuild/
*.jks
*.keystore
captures/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
.vscode/
.DS_Store
Thumbs.db
desktop.ini
.kapt/
.compose-cache/
**/gradle-app.setting
*.ec
gradle-local.properties